.chat-main__header
  .chat-main__header--group.clearfix
    .chat-main__header--group-name
      = @group.name
    %a.chat-main__header--group-edit-btn(href='edit')
      edit
  .chat-main__header--members
    MEMBER
    - @group.users.each do |user|
      %i
        = user.name
