.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        watanabe yuu
      .chat-side__user--new-group
        = link_to do
          %i.fa.fa-pencil-square-o
      .chat-side__user--edit-user
        = link_to do
          %i.fa.fa-cog

  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name
          ok
        .chat-side__group-message
          popopo
