.chat-main__footer
  %form.chat-main__footer-form
    .chat-main__footer-body
      %input.message{placeholder: "type a message", type: "text"}
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
      %input.submit{value: "Send", type: "submit"}
