%div.chat-side
  %div.chat-side__user
    %div.chat-side__user-content
      %div.chat-side__user-name
        watanabe yuu
      %a(href='')
        %i.fa.fa-pencil-square-o
      %a(href='')
        %i.fa.fa-cog

  %div.chat-side__groups
    %div.chat-side__groups-list
      %div.chat-side__group
        %div.chat-side__group-name
          ok
        %div.chat-side__group-message
          lo
