%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
%div.chat-main__message.clearfix
  %div.chat-main__message-name
    kkkkk
  %div.chat-main__message-time
    2018/12/24/12:12:00
  %div.chat-main__message-body
    testtesttest
