.chat-main__body
  %div.chat-main__body--message-list
    .chat-main__message.clearfix
      .chat-main__message-name
        kkkkk
      .chat-main__message-time
        2018/12/24/12:12:00
      .chat-main__message-body
        testtesttest

