@mixin chat-main__header(){
  .chat-main__header {
    z-index: 10;
    right: 0;
    width: calc(100% - 302px);
    position: fixed;
    height: 15%;
    border: 1px solid #eee;
    background-color: $mainwhitecolor;

    .clearfix {
      @include clearfix();
      margin: auto 40px;

      .chat-main__header--group-name {
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }

      .chat-main__header--group-edit-btn {
        color: $mainsubcolor;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid $mainsubcolor;
        float: right;
        text-decoration: none;
      }
    }

    .chat-main__header--members {
      color: #999;
      font-size: 12px;
      margin: 0 40px;
    }
  }
}
