body {
  height: 100%;
  width: 100%;
}

.notification {
}

@include chat-side();

.chat-main {
  margin-left: 300px;
  position: relative;
  height: 100vh;
  width: calc(100vw - 300px);

  @include chat-main__header();

  &__body {
    position: absolute;
    top: 15%;
    overflow: scroll;
    width: 100%;

    height: calc(100vh - 15% - 90px);
    &--message-list {
      padding-left: 40px;

      .chat-main__message.clearfix {
        @include clearfix();
        padding: 20px 0;

        .chat-main__message-name {
          color: $mainmessagecolor;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }
        .chat-main__message-time {
          color: $mainmessagecolor;
          font-size: 12px;
          padding: 0 10px 10px;
          float: left;
        }
      }
      .chat-main__message-body {
        color: $mainmessagecolor;
        font-size: 14px;
        clear: both;
      }
    }
  }
  @include chat-main__footer();
}
